<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
    {% load static %}
</head>
<body background ="{ static '/image2.jpg'}">

<div class="topnav">
  <a class="active" href="/welcome/">HOME</a>

  <a href="/add/">ADD</a>
  <a href="/logout/">LOGOUT</a>
</div>

<div style="padding-left:16px">
  <h2> ---- STUDENT INFORMATION -----</h2>
</div>

 <ul>

            {%  for x in data  %}

            <li>  {{ x.fname }}  </li>
            <li>  {{ x.lname }}  </li>
            <li>  {{ x.marks }}  </li>
            <li>  {{ x.rollno }}  </li>
            <li>
                <form action="/update/{{ x.id }}/" method="get">
                    <button type="submit">UPDATE</button>
                </form>
            </li>

            <li>
                <form action="/delete/{{ x.id }}/" method="get">
                    <button type="submit">DELETE</button>
                </form>
            </li>

            <hr>


            {%  endfor  %}

        </ul>
</body>
</html>




